<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ECE 528 Project</title>
   <!-- bootstrap css -->
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/bootstrap.min.css') }}" >
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <link rel="stylesheet" href="css/responsive.css">
</head>
<body>
   <body class="main-layout">
      <!-- loader
      <div class="loader_bg">
         <div class="loader"> <img src="{{ url_for('static', filename='images/loading.gif') }}"  alt="#" /></div>
      </div>-->
      <!-- end loader -->
      <!-- header -->
      <header>
         <!-- header inner -->
         <div class="header">
            <div class="container">
               <div class="row">
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                     <div class="full">
                        <div class="center-desk">
                           <div class="logo">
                              <b>ICreditApp</b><br>
                              ECE 528 Project - Credit Approval
                              <!--<a href="index.html"><img src="images/logo.png" alt="#" /></a>-->
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                     <nav class="navigation navbar navbar-expand-md navbar-dark ">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarsExample04">
                           <ul class="navbar-nav mr-auto">
                              <li class="nav-item">
                                 <a class="nav-link" href="index">ABOUT US </a>
                              </li>
                              <li class="nav-item">
                                 <a class="nav-link" href="registration">CREDIT APPROVAL</a>
                              </li>
                              <li class="nav-item">
                                 <a class="nav-link" href="contact">Contact</a>
                              </li>
                           </ul>
                           <div class="Call"><a href="#"> <span class="yellow">Call Us : </span>1-528-GETCREDIT</a></div>
                        </div>
                     </nav>
                  </div>
               </div>
            </div>
         </div>
      </header>
<header id="creditapprovalheader">
    <div class="background1></div>

</header>

<div id="navbar">
    <!--<h2> ECE 528 Project - Credit Approval Project</h2>
    <h3> Venu Nandamuri base html page to test</h3>-->
</div>


{% block content %}{% endblock %}
</body>
</html>